@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    /* Color palette */
    --color-1: #03045e;
    --color-1-transparent: #03045ebb;
    --color-2: #0077b6;
    --color-2-transparent: #0076b6a2;
    --color-3: #00b4d8;
    --color-4: #90e0ef;
    --color-5: #caf0f8;

}

body {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    max-width: 100%;
    image-resolution: cover;
    height: 100vh;
    width: 100vw;
}

.search {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
}

.search-icon {
    cursor: pointer;
    fill: white;
}

.search-bar {
    width: 200px;
    height: 25px;
    border-radius: 3px;
    margin-top: 20px;
    background-color: #ffffff99;
    display: block;
    border: none;
    transition: width 100ms ease, background-color 100ms ease;
}

.search-bar:focus {
    background-color: #fff;
    width: 300px;
    outline: none;
    transition: all 100ms ease;
}

.stats {
  margin: 2rem 30%;
  display: flex;   
  justify-content: space-between;
  flex-direction: row;
}

.stats--stat {
    text-align: center;
    color: var(--color-5);
}

.stats--title {
    font-weight: 100;
}

/* Main section */
.vocab {
    padding: 0.5vh 2vw 2vh 2vw;
    color: var(--color-5);
    background-color: var(--color-2-transparent);
    box-shadow: 0 0 30px rgba(0,0,0,1);
}

main {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.word {
    border-bottom: 2px solid var(--color-1);
    text-align: center;
    padding: 0.4rem;
    font-weight: 500;
    margin: 0.1rem;
}

.synonyms {
    margin: 0.5rem 0;
    display: inline-block;
}

.synonym {
    min-height: 1.2rem;
    min-width: 1.2rem;
    vertical-align: middle;
    font-weight: 500;
    margin: 0.1rem 0.2rem;
    display: inline-block;
    padding: 0.3rem;
    background-color: var(--color-4);
    color: black;
    border-radius: 3px;
    cursor: pointer;
}

.definition {
    font-weight: 300;
    background-color: var(--color-2);
    display: inline-block;
    margin: 0.5rem 0;
    text-align: right;
    padding: 0.3rem;
    border-radius: 3px;
}

.top-left-items {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-4);
    margin: 1vh 0 0 2vw;
}

.hear {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    fill: var(--color-4);
    transition: fill 200ms ease;
}

.hear:hover {
    fill: var(--color-2);
    transition: fill 200ms ease;
}

.pos {
    vertical-align: top;
    display: inline-block;
}

.phonetic {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1vh 2vw 0 0;
}
.origin {
    display: inline-block;
    color: #aaa;
    font-weight: 100;
    margin-top: 0.5rem;
    transition: font-size 200ms ease;
}

.origin:hover {
    color: var(--color-5);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    background-color: var(--color-1);
    transition: font-size 200ms ease, background-color 200ms ease;
}

.toggle-attributes {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    color: var(--color-5);
    font-weight: 100;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 3px;
    display: none;
}

.attributes {
    position: absolute;
    bottom: 0;
    left: 0;
    /* background-color: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 2px; */
    margin: 0 0 0.3rem 1rem;
    color: white;
    font-weight: 100;
    font-size: 1rem;
}

.attributes a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: padding-bottom 300ms ease-in-out;
}

.attributes a:hover {
    color: var(--color-2);
    padding-bottom: 15px;
    transition: padding-bottom 400ms ease-in-out;
}

.quick-links {
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-link {
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--color-1-transparent);
    transition: background-color 200ms ease-in-out;
}

.quick-link:hover {
    background-color: var(--color-1);
    transition: background-color 200ms ease-in-out;
}

.favicon {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.site-name {
    width: 80%;
    font-size: 0.8rem;
    margin: 10px auto;
    color: white;
    text-align: center;
}

.link {
    text-decoration: none;
}